# Slybot requirements
numpy==1.22.2
Scrapy==2.6.0
scrapely==0.13.2
loginform==1.2.0
lxml==4.9.1
dateparser==1.1.6
python-dateutil<=2.4.2
jsonschema==2.4.0
six==1.10.0
scrapy-splash==0.8.0
page_finder==0.1.8
chardet==2.3.0
